  <div data-controller ="board" data-api-url = "<%= api_board_lists_path(@board) %>"
  data-board-lists-url = "<%= board_lists_path(@board) %>"
  data-list-positions-api-url = "<%= api_board_list_positions_path(@board) %>"
   id="board" style="overflow-x: scroll;" ></div>
